@import "../../../main-styles.scss";

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding-top: 30px;
}

.notes-list {
  margin-top: 30px;
  margin-bottom: 70px;
}

app-note-card {
  display: block;
  margin-bottom: 20px;
}

.floating-add-button {
  position: fixed;
  bottom: 0;
  width: 500px;
  height: 50px;
  font-size: 22px;
  border-radius: 4px;
  box-shadow: 0px 0px 15px 5px rgba($purple, 0.2);
}
